In [18]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [19]:
#read in the csv
file = 'Resources/2018_survey.csv'

In [20]:
#create dataframe
df = pd.read_csv(file, encoding="ISO-8859-1")

In [21]:
#review dataframe
df.head()

,Tech_company,Tech_role,Tech_employer,Current_MHD,Diagnosed_MHD,Past_MHD,Sought_treatment,Family_history,Age,Gender
0,1.0,0.0,1.0,Don't Know,NaN,1.0,1,1,57,Female
1,1.0,1.0,NaN,Yes,Yes,1.0,1,1,29,male
2,0.0,1.0,1.0,No,NaN,0.0,0,1,46,male
3,1.0,1.0,1.0,No,NaN,0.0,0,0,34,male
4,1.0,1.0,1.0,No,NaN,0.0,0,0,55,male

In [22]:
#inspect data stats
df.describe()

,Tech_company,Tech_role,Tech_employer,Past_MHD,Sought_treatment,Family_history,Age
count,342.000000,342.000000,341.000000,391.000000,393.000000,393.000000,393.000000
mean,0.728070,0.956140,0.703812,0.483376,0.625954,0.486005,35.040712
std,0.445606,0.205083,0.457246,0.500364,0.484492,0.500441,8.122366
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,19.000000
25%,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,29.000000
50%,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,34.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,39.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,67.000000

In [23]:
#drop any rows missing data 
df = df.dropna(how='any')

In [55]:
df.head()

,Tech_company,Tech_role,Tech_employer,Current_MHD,Diagnosed_MHD,Past_MHD,Sought_treatment,Family_history,Age,Gender
5,1.0,1.0,1.0,Yes,Yes,1.0,1,0,35,male
8,1.0,1.0,1.0,Yes,Yes,0.0,1,1,45,male
9,0.0,1.0,0.0,Yes,Yes,1.0,1,0,31,male
13,0.0,1.0,1.0,Yes,Yes,1.0,1,1,35,male
14,0.0,1.0,0.0,Yes,Yes,1.0,0,1,47,male

In [56]:
df.count()

Tech_company        133
Tech_role           133
Tech_employer       133
Current_MHD         133
Diagnosed_MHD       133
Past_MHD            133
Sought_treatment    133
Family_history      133
Age                 133
Gender              133
dtype: int64

In [59]:
df.dtypes

Tech_company        float64
Tech_role           float64
Tech_employer       float64
Current_MHD          object
Diagnosed_MHD        object
Past_MHD            float64
Sought_treatment      int64
Family_history        int64
Age                   int64
Gender               object
dtype: object

In [40]:
df['Sought_treatment'].value_counts()

1    129
0      4
Name: Sought_treatment, dtype: int64

In [60]:
df['Tech_role'].astype('int64')

5      1
8      1
9      1
13     1
14     1
15     1
18     1
19     1
26     1
30     1
31     1
37     1
41     1
45     1
47     1
50     1
59     1
64     1
69     1
72     1
73     1
77     1
80     1
83     1
85     1
91     1
92     1
97     1
101    1
108    1
      ..
320    1
321    1
322    1
326    1
327    1
328    1
329    1
330    1
333    1
337    1
343    1
344    1
346    1
352    0
354    1
355    1
359    1
363    1
364    1
366    1
367    1
369    1
372    1
373    1
380    1
382    1
387    1
389    1
390    1
392    1
Name: Tech_role, Length: 133, dtype: int64

In [110]:
# Assign X (data) and y (target)

### BEGIN SOLUTION
X = df[['Tech_role', 'Family_history', 'Past_MHD', 'Age']]
y = df['Sought_treatment']
print(X.shape, y.shape)
### END SOLUTION

(133, 4) (133,)

In [116]:
 # Split the data into training and testing

### BEGIN SOLUTION
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y)
### END SOLUTION

In [125]:
print(len(y_test))

34

In [119]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [120]:
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [106]:
 print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9696969696969697
Testing Data Score: 0.9705882352941176

In [123]:
predictions = classifier.predict(X_test)
predictions

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [127]:
 #create dataframe for predictions and actuals 
    pred = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

In [130]:
pred

    Prediction  Actual
0            1       1
1            1       1
2            1       1
3            1       1
4            1       1
5            1       1
6            1       1
7            1       1
8            1       1
9            1       1
10           1       1
11           1       1
12           1       1
13           1       1
14           1       1
15           1       1
16           1       1
17           1       1
18           1       1
19           1       1
20           1       1
21           1       1
22           1       1
23           1       1
24           1       1
25           1       0
26           1       1
27           1       1
28           1       1
29           1       1
30           1       0
31           1       1
32           1       1
33           1       1

In [1]:
#export dataframe export_csv = pred.to_csv (r'C:/Users/teya/Desktop/export_dataframe.csv', index = None, header=True)